/* THis is the global style */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    background-color: #037dff;
    padding: 30px;
} 
h1{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7;
    color: #a4c7db;
}
