/* THis is the global style */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #405664;
    padding: 30px;
} 
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #05456a;
}
/* style for "block" 
they are used to divide sections
they can be expanded upon clicks
*/
.block {
    margin-bottom: 30px;
}
.block:hover {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.hidden {
    display: none;
    }
