/* THis is the global style */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #405664;
    padding: 30px;
} 
h1{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7;
    color: #05456a;
}
