/* THis is the global style */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #405664;
    padding: 30px;
} 
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #05456a;
}
/* style for "block" 
they are used to divide sections
they can be expanded upon clicks
*/

/* auto-apply when user has dark mode enabled */
@media (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
    }
}

.block {
    margin-bottom: 30px;
}
.block:hover {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.hidden {
    display: none;
    }


.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.6rem;
}

.tooltip-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}